{% extends "base.html" %}
{% block content %}
{% include 'admin/navbarAdmin.html' ignore missing with context %}
<section class="section py-3">
  <div class="columns">
    <div class="column is-2-desktop is-3-tablet is-hidden-mobile" id="leftSideBar">
      <aside class="menu">
        <p class="menu-label">Quản lý chung</p>
        <ul class="menu-list">
          <li><a class="is-active" onclick="getUiGeneralContent(event)" id="general">Tổng quan</a></li>
          <li><a onclick="getUiManageUsers(event)">Người dùng</a></li>
          <li><a href="{{ url_for('admin.manage_questions') }}">Câu hỏi</a></li>
        </ul>
        <p class="menu-label">Đặc quyền</p>
        <ul class="menu-list">
          <li><a>Truy cập</a></li>
          <li><a>Câu hỏi</a>
            <ul>
              <li><a>Thêm câu hỏi</a></li>
              <li><a>Tìm sửa/xóa</a></li>
            </ul>
          </li>
        </ul>
      </aside>
    </div>
    <div class="column is-10-desktop is-9-tablet" id="ajax-data">
      <!-- <div id="ajax-data"> -->
      <!-- {% include 'admin/mainshow.html' ignore missing with context %} -->
      <!-- </div> -->
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function (event) {
    console.log("KO quan tam style and image loaded!")
    // document.getElementById("content").innerText = "This is vanilla JS"
  });
  document.onreadystatechange = function (event) {
    if (document.readyState === "complete") {
      makeGetRequest('/admin/general-content')
    }
  };

  function makeGetRequest(relativeLink) {
    axios.get(window.origin + relativeLink).then(
      (response) => {
        let parser = new DOMParser();
        let result = parser.parseFromString(response.data.data.content, 'text/html');
        let currentNode = document.querySelector('#ajax-data');
        currentNode.innerHTML = result.querySelector('#ajax-data').innerHTML
        // currentNode.insertAdjacentHTML("afterbegin", result.querySelector('#ajax-data').innerHTML)
        // innerHTML faster replaceWith
        // currentNode.replaceWith(result.querySelector('#ajax-data'))
      },
      (error) => {
        console.log(error);
      }
    );
  }
  // makeGetRequest('http://127.0.0.1:5000/test');
  try {
    var eventSource = new EventSource(window.origin + "/admin/stats-data")

    eventSource.addEventListener("user-created", function (e) {
      // console.log(e.data.color)
      // data = JSON.parse(e.data)
      document.querySelector("#sse_student_register").innerText = e.data
    }, true)
    eventSource.addEventListener("question-created", function (e) {
      document.querySelector("#sse_question_created").innerText = e.data
    }, true)

  } catch (error) {
    console.log('cannot listen to from sse service')
  }

  var quickLinks = document.querySelectorAll(".menu-list a");
  for (var i = 0; i < quickLinks.length; i++) {
    quickLinks[i].addEventListener('click', function (event) {

      //check if a link is currently selected, remove is-active class if yes
      isActive = document.getElementsByClassName('is-active')[0];
      if (isActive != undefined) {
        isActive.classList.remove('is-active');
      }
      //then add is-active class to the most recent selected link
      // object current call this event
      this.classList.add('is-active');
    });
  }

  function getUiGeneralContent(event) {
    event.preventDefault();
    makeGetRequest('/admin/general-content')
  }
  function getUiManageUsers(event) {
    makeGetRequest('/admin/manage-users')
    event.preventDefault();
  }

  // $(document).ready(function(){
  //   $('ul li a').click(function(){
  //     $('li a').removeClass("is-active");
  //     $(this).addClass("is-active");
  //   });
  // });
</script>
{% endblock %}