{% extends "base.html" %}
{% block content %}
{% include 'admin/navbarAdmin.html' ignore missing with context %}
<section class="section py-3">
  <div class="columns">
    <div class="column is-2-desktop is-3-tablet is-hidden-mobile" id="leftSideBar">
      <aside class="menu">
        <p class="menu-label">Quản lý chung</p>
        <ul class="menu-list">
          <li><a class="is-active" id="general">Tổng quan</a></li>
          <li><a href="#">Người dùng</a></li>
          <li><a>Câu hỏi</a></li>
        </ul>
        <p class="menu-label">Đặc quyền</p>
        <ul class="menu-list">
          <li><a>Truy cập</a></li>
          <li><a>Câu hỏi</a>
            <ul>
              <li><a>Thêm câu hỏi</a></li>
              <li><a>Tìm sửa/xóa</a></li>
            </ul>
          </li>
        </ul>
      </aside>
    </div>
    <div class="column is-10-desktop is-9-tablet">
      {% include 'admin/mainshow.html' ignore missing with context %}

      <div id="content"></div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function (event) {
    console.log("KO quan tam style and image loaded!")
    document.getElementById("content").innerText = "This is vanilla JS"
  });
  document.onreadystatechange = function (event) {
    if (document.readyState === "complete") {
      makeGetRequest()
    }
  };

  function makeGetRequest() {
    axios.get(window.origin + "/admin/general-content").then(
      (response) => {
        var parser = new DOMParser();
        var result = parser.parseFromString(response.data, 'text/html');
        document.getElementById("content").replaceWith(result.querySelector('h1'))
      },
      (error) => {
        console.log(error);
      }
    );
  }
  // makeGetRequest('http://127.0.0.1:5000/test');
  try {
    var eventSource = new EventSource(window.origin + "/admin/stats-data")

    eventSource.addEventListener("user-created", function(e) {
      // console.log(e.data.color)
      // data = JSON.parse(e.data)
      document.querySelector("#sse_student_register").innerText = e.data
    }, true)
    eventSource.addEventListener("question-created", function(e) {
      document.querySelector("#sse_question_created").innerText = e.data
    }, true)

  } catch (error) {
    console.log('cannot listen to from sse service')
  }

  // $(document).ready(function(){
  //   $('ul li a').click(function(){
  //     $('li a').removeClass("is-active");
  //     $(this).addClass("is-active");
  //   });
  // });
</script>
{% endblock %}