<section class="section">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="card tile is-child">
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-item has-text-centered">
                          <div>
                            <p class="heading is-size-6">Sinh viên</p>
                            <p class="title" id="sse_student_register">3,456</p>
                          </div>
                        </div>
                        <div class="level-item has-widget-icon">
                            <div class="is-widget-icon">
                                <span class="icon has-text-info is-large">
                                    <i class="fas fa-user-graduate fa-3x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="card tile is-child">
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-item has-text-centered">
                          <div>
                            <p class="heading is-size-6">Câu hỏi</p>
                            <p class="title" id="sse_question_created">25k</p>
                          </div>
                        </div>
                        <div class="level-item has-widget-icon">
                            <div class="is-widget-icon">
                                <span class="icon has-text-success is-large">
                                    <i class="far fa-question-circle fa-3x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="card tile is-child">
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-item has-text-centered">
                          <div>
                            <p class="heading is-size-6">Người dạy</p>
                            <p class="title">400</p>
                          </div>
                        </div>
                        <div class="level-item has-widget-icon">
                            <div class="is-widget-icon">
                                <span class="icon has-text-primary-dark is-large">
                                    <i class="fas fa-chalkboard-teacher fa-3x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="card tile is-child">
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-item has-text-centered">
                          <div>
                            <p class="heading is-size-6">Bộ câu hỏi</p>
                            <p class="title">798</p>
                          </div>
                        </div>
                        <div class="level-item has-widget-icon">
                            <div class="is-widget-icon">
                                <span class="icon has-text-link is-large">
                                    <i class="fas fa-list-ol fa-3x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>