<section class="hero">
    <div class="hero-body">
        <div class="container">
            {% include 'partials/messages.html' ignore missing with context %}
            <nav class="level">
                <div class="level-item">
                    <div>
                        <figure class="image is-64x64 container"><img class="is-rounded" alt="Sinh viên"
                                src="{{ url_for('static', filename='images/student.png') }}" title="Số sinh viên" />
                        </figure>
                        <p class="title">1,245</p>
                    </div>
                </div>
                <div class="level-item">
                    <div>
                        <figure class="image is-64x64 container"><img class="is-rounded" alt="Câu hỏi"
                                src="{{ url_for('static', filename='images/question.png') }}"
                                title="Số câu hỏi trong hệ thống" /></figure>
                        <p class="title">3,100</p>
                    </div>
                </div>
                <div class="level-item">
                    <div>
                        <figure class="image is-64x64 container"><img class="is-rounded" alt="Giảng viên"
                                src="{{ url_for('static', filename='images/lecturer.png') }}" title="Số giảng viên" />
                        </figure>
                        <p class="title">225</p>
                    </div>
                </div>
            </nav>
            <div class="columns is-vcentered">
                <div class="column is-5 is-offset-1 landing-caption">
                    <h1 class="title is-1 is-bold is-spaced">Trắc nghiệm</h1>
                    <p class="subtitle is-muted">Ôn tập kiến thức có thể với hình thức trắc nghiệm không? Hãy là người
                        dùng của hệ thống để tìm hiểu được nhiều tri thức mới nhe.</p><a
                        class="button is-rounded is-primary" target="_blank">Tham gia</a>
                </div>
                <div class="column is-5 is-offset-1">
                    <figure class="image is-4by3"><img
                            src="{{ url_for('static', filename='images/iq-illustrate.png') }}" /></figure>
                </div>
            </div>
        </div>
    </div>
</section>