{% from "partials/_formhelpers.html" import render_error %}
<section class="hero is-fullheight is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered is-mobile">
        <div class="column is-6-tablet is-8-desktop is-6-widescreen is-two-thirds-mobile box">
          <h4 class="title is-4 has-text-centered">ĐĂNG KÝ NGƯỜI DÙNG</h4>
          <form action="{{ url_for('user.register') }}" method="POST">
            {{ form.csrf_token }}
            <div class="columns">
              <div class="column">
                <div class="field">
                  {{ form.last_name.label(class="label") }}
                  <div class="control has-icons-left">
                    {{ form.last_name(class="input") }}
                    <span class="icon is-small is-left"><i class="far fa-user"></i></span>
                  </div>
                  {{ render_error(form.last_name) }}
                </div>
                <div class="field">
                  {{ form.first_name.label(class="label") }}
                  <div class="control has-icons-left">
                    {{ form.first_name(class="input") }}
                    <span class="icon is-small is-left"><i class="far fa-user"></i></span>
                  </div>
                  {{ render_error(form.first_name) }}
                </div>
                <div class="field">
                  {{ form.email.label(class="label") }}
                  <div class="control has-icons-left">
                    {{ form.email(class="input") }}
                    <span class="icon is-small is-left"><i class="far fa-envelope"></i></span>
                  </div>
                  {{ render_error(form.email) }}
                </div>
              </div>
              <div class="column">
                <div class="field">
                  {{ form.user_name.label(class="label") }}
                  <div class="control has-icons-left">
                    {{ form.user_name(class="input") }}
                    <span class="icon is-small is-left"><i class="fas fa-user-tag"></i></span>
                  </div>
                  {{ render_error(form.user_name) }}
                </div>
                <div class="field">
                  {{ form.password.label(class="label") }}
                  <div class="control has-icons-left">
                    {{ form.password(class="input") }}
                    <span class="icon is-small is-left"><i class="fas fa-key"></i></span>
                  </div>
                  {{ render_error(form.password) }}
                </div>
                <div class="field">
                  {{ form.confirm_pass.label(class="label") }}
                  <div class="control has-icons-left">
                    {{ form.confirm_pass(class="input") }}
                    <span class="icon is-small is-left"><i class="fas fa-key"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="field">
              {{ form.major.label(class="label") }}
              <div class="control has-icons-left">
                <div class="select is-info is-fullwidth">
                  {{ form.major }}
                </div>
                <div class="icon is-small is-left"><i class="fas fa-user-graduate"></i></div>
              </div>
            </div>
            <div class="field">
              {{ form.about_user.label(class="label") }}
              <div class="control">
                {{ form.about_user(class="textarea is-info") }}
              </div>
            </div>
            {{ form.recaptcha }}
            <div class="field is-grouped is-grouped-centered">
              <p class="control">{{ form.submit(class="button is-link")}} </p>
              <p class="control"><a class="button is-link is-light" title="Về trang chủ">Trở về</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>