<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="This is a website to support for self-learning of student">
  <meta name="author" content="Viem Trieu">

  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
  <!--Core CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/kwesan.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" />
  {% if title %}
  <title>Kwesan System - {{ title }} </title>
  {% else %}
  <title>Kwesan System</title>
  {% endif %}
  {% endblock %}
</head>

<body>
  {% block content %} {% endblock %}

  <script src="{{ url_for('static', filename='js/utilities.js') }}"></script>
</body>

</html>