{% extends "base.html" %}
{% from "partials/_formhelpers.html" import render_error %}
{% block content %}
{% include 'partials/navbar.html' ignore missing with context %}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6-desktop">
          <h1 class="title is-4">Quên mật khẩu người dùng</h1>
          {% include 'partials/messages.html' ignore missing with context %}
          <form action="{{ url_for('user.forget_password')}}" method="POST">
            {{ form.csrf_token }}
            <div class="field">
              {{ form.email.label(class="label") }}
              <div class="control has-icons-left">
                {{ form.email(class="input")|lower }}
                <span class="icon is-small is-left"><i class="far fa-envelope"></i></span>
              </div>
              {{ render_error(form.email) }}
            </div>
            <div class="field">
              {{ form.recaptcha }}
              {{ render_error(form.recaptcha) }}
            </div>
            <div class="field">
              {{ form.submit(class="button is-link", title="Chọn để nhận link kích hoạt")}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'partials/footer.html' ignore missing with context %}
{% endblock %}