{% extends "base.html" %}
{% from "partials/_formhelpers.html" import render_error %}
{% block title %} USER LOGIN {% endblock %}
{% block content %}
<section class="hero is-fullheight is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered is-mobile">
        <div class="column is-6-tablet is-5-desktop is-4-widescreen is-two-thirds-mobile box">
          <h4 class="title is-4 has-text-centered">ĐĂNG NHẬP</h4>
          {% include 'partials/messages.html' ignore missing with context %}
          <form action="{{ url_for('user.login') }}" method="POST">
            {{ form.csrf_token }}
            <div class="field">
              <div class="control has-icons-left">
                {{ form.user_name(class="input") }}
                <span class="icon is-small is-left"><i class="fas fa-user-tag"></i></span>
              </div>
              {{ render_error(form.user_name) }}
            </div>
            <div class="field">
              <div class="control has-icons-left">
                {{ form.password(class="input") }}
                <span class="icon is-small is-left"><i class="fas fa-key"></i></span>
              </div>
              {{ render_error(form.password) }}
            </div>
            <div class="field is-fullwidth">
              <div class="control ">
                {{ form.recaptcha }}
              </div>
              {{ render_error(form.recaptcha) }}
            </div>
            <div class="field is-left">
              <label class="checkbox">
                {{ form.remember }}
                <span> {{ form.remember.label }} </span>
              </label>
            </div>
            <div class="field">
              <button class="button is-primary is-fullwidth">Đăng nhập</button>
            </div>

            <div class="field is-left" title="Về trang chủ">
              <a class="button is-link is-light is-fullwidth" href="{{ url_for('index.index') }}">Trang
                chủ</a>
            </div>
            <p class="has-text-grey"><a href="">Đăng ký</a> &nbsp;·&nbsp; <a href="">Quên mật khẩu</a> &nbsp;·&nbsp; <a
                href="">Help?</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}