{% extends "base.html" %}
{% from "partials/_formhelpers.html" import render_error %}
{% block content %}
{% include 'partials/navbar.html' ignore missing with context %}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6-desktop">
          <h1 class="title is-4">Quên mật khẩu người dùng</h1>
          {% include 'partials/messages.html' ignore missing with context %}
          <form action="{{ url_for('user.reset_pwd_with_form')}}" method="POST">
            {{ form.csrf_token }}
            <div class="field">
              {{ form.email.label(class="label") }}
              <div class="control has-icons-left">
                {{ form.email(class="input")|lower }}
                <span class="icon is-small is-left"><i class="far fa-envelope"></i></span>
              </div>
              {{ render_error(form.email) }}
            </div>
            <div class="field">
              {{ form.user_name.label(class="label") }}
              <div class="control has-icons-left">
                {{ form.user_name(class="input")|lower }}
                <span class="icon is-small is-left"><i class="fas fa-user-tag"></i></span>
              </div>
              {{ render_error(form.user_name) }}
            </div>
            <div class="field">
              {{ form.password.label(class="label") }}
              <div class="control has-icons-left">
                {{ form.password(class="input") }}
                <span class="icon is-small is-left"><i class="fas fa-key"></i></span>
              </div>
              {{ render_error(form.password) }}
            </div>
            <div class="field">
              {{ form.confirm_pass.label(class="label") }}
              <div class="control has-icons-left">
                {{ form.confirm_pass(class="input") }}
                <span class="icon is-small is-left"><i class="fas fa-key"></i></span>
              </div>
            </div>
            <div class="field">
              <button class="button is-primary" type="submit" title="Chọn để thay đổi mật khẩu">Xác
                nhận</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'partials/footer.html' ignore missing with context %}
{% endblock %}