{% extends "base.html" %}
{% block content %}
{% include 'partials/navbar.html' ignore missing with context %}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6-desktop">
          <h1 class="title is-4">Quên mật khẩu người dùng</h1>
          {% include 'partials/messages.html' ignore missing with context %}
          <form action="{{ url_for('user.forget_password')}}" method="POST">
            {{ form.csrf_token }}
            <div class="field">
              <label class="label" for="email">Email</label>
              <p class="control has-icons-left">
                <input class="input" type="email" placeholder="Nhập địa chỉ email" name="email" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <button class="button is-primary" type="submit" title="Chọn để có email thiết lập lại mật khẩu">Xác
                nhận</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'partials/footer.html' ignore missing with context %}
{% endblock %}